<!-- ===== NAVBAR - GUEST ===== -->
<nav class="navbar">
    <a href="../pub/home.html" class="logo">
        <i class="fas fa-magnifying-glass-location"></i>
        <span>Lost&Found</span>
    </a>
    
    <div class="nav-links">
        <a href="../pub/home.html" id="navHome">Home</a>
        <a href="../pub/search.html" id="navBrowse">Browse</a>
        <a href="#howitworks">How it Works</a>
    </div>

    <div class="nav-actions">
        <a href="../auth/login.html" class="btn-outline">Login</a>
        <a href="../auth/register.html" class="btn-primary-nav">Sign Up</a>
    </div>
</nav>